:root {
    --grid-size: 50px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    display: flex;
    border: 2px;
    border-style: solid;
    border-color: aqua;
}

.row {
    display: flex;
    flex-direction: column;
}

.grid {
    width: var(--grid-size);
    height: var(--grid-size);
}